


header {
  margin-bottom: 6em;
  background-image: url("surf.jpg");
  background-position: center;
  background-size: cover;
  width: 110%;
  height: 601px;
  background-repeat: no-repeat;
  color: #0F7A74;
  opacity: 95%;
  h1 {
    color: white;
    margin: -15%;
    text-align: center;
    font-size: 100px;
    margin-top: 133px;
}
  p {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-left: -6%;
  }
}



nav {
  vertical-align: top;
  display: inline-block;
  margin-top: 3em;
  margin-left: 3em;
  width: 87%;
  padding-bottom: 8em;
}

  h4 {
    color: white;
    display: inline-block;
    vertical-align: top;
    margin-left: 2em;
    margin: auto;
  }

  ul {
    float:right;
    display: inline-block;
    vertical-align: top;
    margin: auto;
  }

  li {
  float: right;
  color: white;
  vertical-align: top;
  padding-right: 3em;
  list-style: none;
  margin: auto;
  }
